a {
  text-decoration: none;
  position: relative;
  color: black;
}

/* navbar styling */
.my-navbar {
  justify-content: left;
  cursor: pointer;
  width: 40%;
  background: transparent !important;
}

.my-navbar a {
  text-decoration: none;
  position: relative;
  color: #7a6263;
}

.my-navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: currentColor;
  transition: width 0.3s;
}

.my-navbar a:hover::after {
  width: 100%;
}

.m-0 {
  width: 100%;
}

body.home-page .my-navbar {
  background-color: #dff2d8 !important;
}

body.tablet-page .my-navbar {
  background-color: #ced097 !important;
}

body.tablet-page {
  background-color: #ced097;
}
/* css for index html*/
.landing {
  min-height: 100vh;
  background-color: #dff2d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-container1 {
  font-size: 10vw;
  max-width: 50vw;
}

.blurb {
  min-height: fit-content;
  padding: 50px;
  background-color: #c6dea6;
}

.tablet-blurb {
  justify-content: left;
  margin-top: 20px;
  max-width: 500px;
  margin-left: 30px;
}

/* css for tablets html */
#tablets {
  margin-left: 20%;
  margin-right: 20%;
}

.pen-tablets {
  background-color: tan;
  padding: 50px;
}

.tablet-card {
  width: calc((100% - 2 * var(--gutter)) / 3);
  padding: 30px;
  row-gap: 20px;
  overflow: hidden;
  cursor: pointer;
}

.masonry {
  justify-content: center;
  max-width: 1200px;
  --gutter: 16px;
}

@media (max-width: 900px) {
  .tablet-card {
    width: calc((100% - var(--gutter)) / 2);
  }
}

@media (max-width: 600px) {
  .tablet-card {
    width: 100%;
  }
}

.logo {
  max-width: 100%;
  height: auto;
}

.my-buttons {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.input-group-text {
  justify-content: space-around;
}

.input-group-text label {
  cursor: pointer;
}

.input-group {
  background: none;
  outline: none;
}

input[name="filter"] {
  display: none;
}

.results {
  padding: 5px;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  -o-appearance: button;
  -ms-appearance: button;
  appearance: button;
}

.input-group-text label:hover {
  background: #ddd;
}

.input-group-text label {
  padding: 20px;
}

.input-group-text label:active {
  background: #ddd;
}

.detailed {
  margin: 10vh;
}
