/* css for index html*/
.my-navbar {
  justify-content: left;
}

a {
  text-decoration: none;
  color: grey;
}
/* 
.navbar-tablets {
  color:gray; 
} */

.landing {
  min-height: 1000px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-container1 {
  font-size: 10vw;
  max-width: 50vw;
}

.blurb {
  min-height: fit-content;
  padding: 50px;
  background-color: blanchedalmond;
}

.tablet-blurb {
  justify-content: left;
  margin-top: 20px;
  max-width: 500px;
  margin-left: 30px;
}

/* css for tablets html */
#tablets {
  margin-left: 20%;
  margin-right: 20%;
}

.pen-tablets {
  background-color: tan;
  padding: 50px;
}

.tablet-card {
  width: calc((100% - 2 * var(--gutter)) / 3);
  padding: 30px;
  gap: 20px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}

.masonry {
  justify-content: center;
  max-width: 1200px;
  --gutter: 16px;
}

@media (max-width: 900px) {
  .tablet-card {
    width: calc((100% - var(--gutter)) / 2);
  }
}

@media (max-width: 600px) {
  .tablet-card {
    width: 100%;
  }
}

.logo {
  max-width: 100%;
  height: auto;
}

.my-buttons {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.input-group-text {
  justify-content: space-around;
}

.input-group {
  background: none;
  outline: none;
}

input[name="filter"] {
  display: none;
}

.results {
  padding: 5px;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  -o-appearance: button;
  -ms-appearance: button;
  appearance: button;
}

.input-group-text label:hover {
  background: #ddd;
}

.input-group-text label {
  padding: 20px;
}

.input-group-text label:active {
  background: #ddd;
}
